.encabezado{
	height:400px;
	background-color:green;
	
	.logo{
		padding-left:214px;
	}

	nav{
		float:right;
		padding-right:214px;

		.main-menu{

			li {
				display:inline;
				margin-left:20px;

				color:white;
				font-size:14px;
				font-weight:700;
				text-transform: uppercase;
			}
		}
	}

	.image-header{
		margin: 0px auto;
	}

	.see-why{
		margin:0px auto;
		
		&:after{
			content: "";
			margin-bottom: 10px;
			border-width: 10px 10px 0px;
			border-style: solid;
			border-color: $rojo transparent;
			display: block;
			width: 0;
		}
	}
	

}
