.encabezado{
	height:400px;
	background-color:green;
	
	.logo{
		margin-left:214px;
		height:50px;
		width:100px;
		background-color:blue;
	}

	nav{
		float:right;
		padding-right:214px;

		.main-menu{

			li {
				display:inline;
				margin-left:20px;

				a{
					color:white;
					font-size:14px;
					font-weight:700;
					text-transform: uppercase;

					&:hover{
						color:$rojo;
					}
				}
			}
		}
	}

	.image-header{
		margin: 0px auto;
	}

	.see-why{
		position:absolute;
		text-transform: uppercase;
			
		&:after{
			content: "";
			position:absolute;
			margin-left:22px;
			margin-bottom: 10px;
			border-width: 10px 10px 0px;
			border-style: solid;
			border-color: $rojo transparent;
			display: block;
			width: 0;
		}
		a{
			text-decoration: none
		}
	}
	

}
